<% include .. /header %>
    <header>
    <h4>Bem-vindo!</h4>
    </header>
    <section>
        <form action="/entrar" method="post" style="display: flex; flex-direction: column;">
            <span>Nome:</span><input type="text" name="nome" placeholder="Digite seu nome">
            <span>Email:</span><input type="text" name="nome" placeholder="Digite seu nome">
            <span>Idade:</span><input type="text" name="nome" placeholder="Digite seu nome">
            <select>
                <option>Iniciante</option>
                <option>Intermediario</option>
                <option>Avançado</option>
            </select>
            <button type="submit">Cadastrar</button>
        </form>
    </section>
<% include .. /footer %>
